<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ScientistApp</title>

    <link rel="stylesheet" href="/public/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cafda4e46d.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <div class="navbar-container">
        <nav>
            <div class='logo'><img class='img-logo' src="/public/imgs/Logo_IFSC-removebg-preview.png" alt="ifsc">ScientistApp</div>
            <div class="link-box">
                <div class="link-item">
                    <div class="link">Home</div>
                    <a href="/" class="link-icon"><i class="fas fa-home"></i></a>
                </div>
                <div class="link-item">
                    <div class="link">Registrar</div>
                    <a href="/register" class="link-icon"><i class="fas fa-user-plus"></i></a>
                </div>
                <div class="link-item">
                    <div class="link">Sobre</div>
                    <a href="#" class="link-icon"><i class="fas fa-info-circle"></i></a>
                </div>
            </div>
        </nav>
    </div>

    <div class="about-container">
        <div class="home-wrapper">
            <div class="about-content">
                <p>Neste projeto foi desenvolvido uma interface web para analise de dados, obtidos por sensores de um  Sistema de robô explorador com câmera e sensores comandado remotamente, para a Disciplina de Projeto Integrador II - 2021-2. 
                    <br><br> Foi projeto nesta aplicação um sistema simples de autenticação, registro e login de usuário para acessar uma interface web que permiti acessar a câmera ao vivo do robô explorador e verificar os dados recentes do sensores enviados para um banco de dados,
                    mesmo server os dados por uma API RESTful desenvolvida em flask.
                </p>
            </div>
        </div>
    </div>

</body>
</html>