.main-body {
    background: #80ED99; /* fallbacl for old browsers */
    background: -webkit-linear-gradient(to right, #38A3A5, #57CC99, #80ED99);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38A3A5, #57CC99, #80ED99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.navbar-container{
    display: flex;
    flex-direction: column;
}

nav {
    width: 90vw;
    border-radius: 5px;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #22577A;
    padding: 1rem 2vw;
    position:relative;
    box-shadow: 0 8px 32px 0 rgb(0 0 135 / 37%);
}

.logo{
     color: inherit;
     font-weight:bold;
     font-size:1.2em;
}

.link-box{
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

.link-item{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 7px 18px;
    cursor: pointer;
}

.link-item:hover{
    background: #0D2F3D;
}

.link-item:hover>.link{
    transform: translateY(-100px);
}

.link-item:hover>.link-icon{
    transform: translateY(-10px);
}

.link {
    transform: translateY(9px);
    transition: 0.5s ease;
    color: inherit; 
}

.link-icon{
    transform: translateY(-50px);
    transition: 0.5s ease;
    font-size: 20px;
    color: inherit;  
}

.content {
    flex: 1 0 auto;
    display: flex;
}

.menu-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.left-sidebar{
    width: 100px;
    list-style: none;
    text-align: left;
    order: -1;
    margin: 0;
}

.right-sidebar {
    width: 100px;
}

.wrapper1{
    height: inherit;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.sensor-wrapper{
    width: 100%;
    margin-left: 2%;
}

.streaming-wrapper{
    height: inherit;
    flex-shrink: 0;
}

.info-wrapper{
    height: inherit;
    margin-left: 10%;
    flex-shrink: 0;
}

.radio-robots{
    margin-top: 2%;
}

.streaming-content{
    overflow: hidden;
    max-width: 415px;
    width: 100%;
    background: rgba(34, 87, 122);
    box-shadow: 0 8px 32px 0 rgb(0 0 135 / 37%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 20px;
    color: inherit;
    animation: zoom 0.5s ease-in;
    text-align: center;
    margin: 0px 0px 0px 0px;
    animation: 1s fadeInDown;
}

.info-content{
    overflow: hidden;
    width: 135%;
    height: 100%;
    background: rgba(34, 87, 122);
    box-shadow: 0 8px 32px 0 rgb(0 0 135 / 37%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    color: inherit;
    animation: zoom 0.5s ease-in;
    text-align: center;
    margin: 0px 0px 0px 0px;
    animation: 1s fadeInDown;
}


.sensor-content{
    overflow:visible;
    width: 50%;
    margin-left: 3.3%;
    background: rgba(34, 87, 122);
    box-shadow: 0 8px 32px 0 rgb(0 0 135 / 37%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 20px;
    padding-right: 43%;
    color: inherit;
    animation: zoom 0.5s ease-in;
    text-align: center;
    margin: 0px 0px 0px 0px;
    animation: 1s fadeInDown;
}

.chart-box{
    display: flex;
    flex-direction: row;
    width: 35%;
    margin-left: 5%;
}

footer{
    width: 100%;
    height: 60px;
}

/* background: #22577A; */
/* C7F9CC */