body {
    background: #80ED99; /* fallbacl for old browsers */
    background: -webkit-linear-gradient(to right, #38A3A5, #57CC99, #80ED99);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38A3A5, #57CC99, #80ED99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

.register-container{
    flex: row;
    border-radius: 5px;
    margin: 165px 27vw auto;
    width: 45vw;
    height: 25vh;
    display: table;
}

.register-wrapper{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-top: 40px;
}

.register-content{
    overflow: hidden;
    max-width: 355px;
    width: 100%;
    background: rgba(34, 87, 122);
    box-shadow: 0 8px 32px 0 rgb(0 0 135 / 37%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 20px;
    color: inherit;
    animation: zoom 0.5s ease-in;
    text-align: center;
    margin: 0px auto;
    animation: 1s fadeInDown;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255, 0.5);
}
  
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(255, 255, 255, 0.5);
}

button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 0px #211d21;
    color: #ffffff;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 30px;
    text-decoration: none;
    border: none;
    transition: 0.5s ease-in;
    margin: 20px;
    cursor: pointer;
    font-weight: bold;
}
  
button:hover {
    background: #0D2F3D;
}

a {
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 0px #211d21;
    color: #ffffff;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 30px;
    text-decoration: none;
    border: none;
    transition: 0.5s ease-in;
    margin: 20px;
    cursor: pointer;
    font-weight: bold;
}

a:hover {
    background: #0D2F3D;
}